# config 
minecraft/config/jei/world/
minecraft/config/blockswap/known_states/
minecraft/config/voicechat/username-cache.json
minecraft/config/voicechat/voicechat-volumes.properties
minecraft/config/voicechat/voicechat-server.properties
minecraft/config/voicechat/voicechat-client.properties
minecraft/config/Obscuria/Data/
minecraft/config/indium-renderer.properties
minecraft/config/fabric/indigo-renderer.properties
minecraft/config/spark/activity.json
minecraft/config/embeddium-fingerprint.json
minecraft/config/mc2discord.toml
minecraft/config/cpm.json
minecraft/config/everycomp-hazardous.properties
minecraft/config/asyncparticles/asyncparticles-mixin.properties
minecraft/config/packetfixer.properties
minecraft/config/structurify/*backup*
minecraft/kubejs/config/probe-settings.json

# mods
minecraft/mods/.connector/
minecraft/mods/*.jar
minecraft/mods/*.disabled

# root folders
minecraft/not-enough-crashes/
minecraft/crash-reports/
minecraft/screenshots/
minecraft/saves/
minecraft/logs/
minecraft/data/
minecraft/local/
minecraft/patchouli_books/
minecraft/schematics/
minecraft/XaeroWorldMap/
minecraft/XaeroWaypoints*/
minecraft/modernfix/
minecraft/worldicons/
minecraft/.lazyyyyy/
minecraft/cache/
minecraft/.cache/
minecraft/.vscode/
minecraft/mod_data/
minecraft/.mixin.out/
minecraft/xaero/
minecraft/ESM/
minecraft/backups/

# root files
minecraft/knownkeys.txt
minecraft/options.txt
minecraft/resourcepacks/Quark Programmer Art.zip
minecraft/resourcepacks/Goety Old Textures.zip
minecraft/realms_persistence.json
minecraft/TrashSlotSaveState.json
minecraft/usercache.json
minecraft/usernamecache.json
minecraft/patchouli_data.json
minecraft/o_prof
minecraft/enigmatic_persistence.dat
minecraft/reauth.toml
minecraft/servers.dat
minecraft/rhino.local.properties
minecraft/seamless.txt
minecraft/fabricloader.log
minecraft/emi.json
minecraft/irisUpdateInfo.json
minecraft/.qmenu_opened.marker
minecraft/snr_favorite_styles.nbt

# dev environment stuff
.probe/
.vscode/probe.code-snippets
mod_data/__pycache__/
mod_data/mod_data.log
mod_data/generated/

# launcher-related
minecraft/.curseclient
minecraft/icon.png
minecraft/server-resource-packs/
minecraft/coremods/
minecraft/texturepacks/
minecraft/minecraftinstance.json
minecraft/.unsup-state.json
minecraft/.unsup-tmp/

# packwiz
kubejs/assets/*.zip
!kubejs/assets/special-*.zip